div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 500px;
    padding: 15px;
    margin: 20px auto;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 20px;
    border: 1px solid green;
    margin: 10px;
    background: #fff;
}

